{% extends "network/layout.html" %}

{% block body %}
<div class="container-fluid">
    <!-- BOX add post -->
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4>New Post</h4>
                    <div class="form-group">
                        <textarea  id="postContent" class="form-control" rows="4"></textarea>
                        <button id="postBtn" class="btn btn-primary mt-1">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}